<section>
  <h1>
    What is meant by directives in Angular?
  </h1>
  <p> Directives are classes that add new behavior or modify the existing behavior to the elements in the template.
  </p>
  <p>Basically directives are used to manipulate the DOM, for example adding/removing
    the element from DOM or changing the appearance of the DOM elements.
  </p>


  <h1>Types of directives</h1>
  <ul>
    <li toolTip>Component directive (a directive with a template (template or templateUrls).)</li>
    <li>Structural directive</li>
    <li>Attribute directive</li>
  </ul>

</section>
<br>
<br>
<br>
<section>
  <h2>custom tooltip directive</h2>

</section>
